body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-icons {
  vertical-align: middle;
}

.dropdown-toggle.btn-custom:focus {
  box-shadow: none;
}

.dropdown-toggle.btn-custom::after {
  content: none;
}

img.dropdown-toggle:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgb(107, 107, 107);
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 220px;
  overflow: auto;
  z-index: -100;
  border-right: 1px solid lightgrey;
  padding-top: 2rem;
  overflow-x: hidden;
  height: calc(100% - 59px);
}

.sidebar li {
  list-style-type: none;
  z-index: 100;
  color: grey;
}

.sidebar li a {
  color: inherit;
}

.sidebar li.active {
  color: #3a3a3a;
}

.sidebar li.active {
  background-color: white;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 3px solid lightgrey;
  transform: translate(1px, 0);
}

.sidebar li a:hover {
  color: #3a3a3a;
}

.content {
  display: absolute;
  left: 220px;
  width: calc(100% - 220px);
  position: absolute;
}

#nav-color {
  color: #3a3a3a;
}

#nav-color:hover {
  color: grey;
}

@media only screen and (max-width: 575px) {
  .sidebar {
    display: none;
  }

  .content {
    left: 0;
    width: 100%;
  }
}
