body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-icons {
  vertical-align: middle;
}

.dropdown-toggle.btn-custom:focus {
  box-shadow: none;
}

.dropdown-toggle.btn-custom::after {
  content: none;
}

img.dropdown-toggle:hover {
  box-shadow: 0 0 0.2rem 0.1rem rgb(107, 107, 107);
}

.navbar {
  border-bottom: 1px solid lightgrey;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 220px;
  overflow: auto;
  z-index: -100;
  border-right: 1px solid lightgrey;
  padding-top: 1.5rem;
  overflow-x: hidden;
  height: calc(100% - 60px);
}

.sidebar li {
  list-style-type: none;
  z-index: 100;
  color: grey;
}

.sidebar li a {
  color: inherit;
}

.sidebar li.active {
  color: #3a3a3a;
}

.sidebar li.active {
  background-color: white;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 3px solid lightgrey;
  transform: translate(1px, 0);
}

.sidebar li a:hover {
  color: #3a3a3a;
}

.content {
  display: absolute;
  left: 220px;
  width: calc(100% - 220px);
  position: absolute;
}

#nav-color {
  color: #3a3a3a;
}

#nav-color:hover {
  color: grey;
}

.head {
  padding: 1.3rem 3rem 1rem 3rem;
  border-bottom: 1px solid lightgrey;
  height: 62px;
}

.head a.right {
  text-decoration: none;
  float: right;
  color: #3a3a3a;
}

.head button {
  float: right;
  padding: 2px 5px;
  background-color: inherit;
  border: 0;
  color: #3a3a3a;
}

.head button:focus,
.btn.btn-folder:focus {
  box-shadow: 0 0 0 0;
}

.head button:hover,
.btn.btn-folder:hover {
  background-color: #ebebeb;
  color: #3a3a3a;
}

.head a.right:hover {
  color: grey;
}

.head h5 {
  font-weight: normal;
}

.modal-dialog {
  max-width: 700px;
}

.dropzone {
  height: 20vh;
  border: 1px solid grey;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.modal-body aside {
  max-height: 25vh;
  overflow-y: auto;
}

div.folder {
  display: flex;
  flex-wrap: wrap;
}

.folder button {
  width: 120px;
  height: 80px;
}

.folder button p {
  white-space: nowrap;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 710px) {
  .sidebar {
    display: none;
  }

  .content {
    left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .head {
    padding: 1.3rem 1rem 1rem 1rem;
  }

  .head button span {
    display: none;
  }

  .head button svg {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 775px) {
  .head button span {
    display: none;
  }

  .head button svg {
    font-size: 1.2rem;
  }
}
